{
    email {$EMAIL}
}

http://*.s3.{$DOMAIN} {
    reverse_proxy http://127.0.0.1:9000
}

http://s3.{$DOMAIN} {
    reverse_proxy http://127.0.0.1:9000
}

http://s3-console.{$DOMAIN} {
    reverse_proxy http://127.0.0.1:9001
}
