{
    email {$EMAIL}
}

http://*.s3.{$DOMAIN} {
    reverse_proxy http://minio:9000
}

http://s3.{$DOMAIN} {
    reverse_proxy http://minio:9000
}

http://s3-console.{$DOMAIN} {
    respond "Console Disabled"
    # reverse_proxy http://minio:9001
}
